apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: crashy-app-servicemonitor
  namespace: monitoring-ryan
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: crashy-app
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      interval: 10s
      path: /
